.background-img-snow{
  background-image: url("../../assets/img/gallery-img/Gebirgsee.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height: 400px;
  background-color: gray;
  background-blend-mode: multiply;
}
.bergfuehrer{
  height: auto;
  background-color: white;
}
.background-img-mount{
  background-image: url("../../assets/img/gallery-img/Gebirgsee.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  min-height: 500px;
}

.bergwanderfuehrer{
  height: auto;
  background-color: white;
}
.decorator{
  border-bottom: 5px solid rgba(74,107,179,0.9);
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
  width: 90%;
  text-align: center;
  margin: auto;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
}

.icon-img{
  margin: 2rem auto 2rem auto;
  display: block;
  height: auto;
  width: 8rem;
  transition: 0.5s;
}
.icon-img:hover{
  transform: scale(1.05);
}

.gallery{
  height: 1200px;
}
.container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
