<div class="main-into-container">
  <div class="background-img-snow"></div>
  <div class="decorator"></div>
  <div id="bergfuehrer" class="bergfuehrer container">
    <img class="icon-img" width="100px" src="../../assets/icons/noun_Carabiner_45153(1).png"/>
    <h3 class="title"><b>Bergführer</b> </h3>
    <div class="container">
      <div class="row">
        <div class="col">
          <app-member [member]="members[0]"></app-member>
        </div>
        <div class="col">
          <app-member [member]="members[1]"></app-member>
        </div>
        <div class="col">
          <app-member [member]="members[2]"></app-member>
        </div>
        <div class="col">
          <app-member [member]="members[6]"></app-member>
        </div>
      </div>
    </div>
  </div>
  <div class="decorator"></div>
  <div class="background-img-snow"></div>
  <div class="decorator"></div>
  <div id="bergwanderfuehrer" class="bergwanderfuehrer container">
    <img class="icon-img" width="100px" src="../../assets/icons/noun_Mountain Climbing_45240(2).png"/>
    <h3 class="title">Bergwanderführer</h3>
    <div class="container">
      <div class="row">
        <div class="col">
          <app-member [member]="members[3]"></app-member>
        </div>
        <div class="col">
          <app-member [member]="members[4]"></app-member>
        </div>
        <div class="col">
          <app-member [member]="members[5]"></app-member>
        </div>
      </div>
    </div>
  </div>
  <div class="decorator"></div>
  <div class="container">
    <app-gallery></app-gallery>
  </div>
  <div class="decorator"></div>
  <div class="background-img"></div>
</div>
