<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [interval]="10000">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" [src]="srcSliderImg1" height="800px" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h2 class="h3-responsive">Bergführerverein Matrei in Osttirol</h2>
      <p>Als am August 1865 eine Gruppe von Bergsteigern den Großvenediger von Innergschlöß erklomm, war ein Matreier Bergführer das erste mal namentlich erwähnt worden - der Nantlis Franz. Aus den bisherigen Trägern für die Hütte das Bergführerwesen in unserer Region. So organisierte Johann Stüdl die Vermittlung von Bergführern in unserer Region. Das erste Bergführer Büro entstand im Jahre 1880 im Gasthaus Wohlgemut das heutige Rathaus</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" [src]="srcSliderImg2" height="800px" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Unser Ziel</h3>
      <p>Unser Ziel ist es die eigenheiten unserer geliebten Berge in Nationalpark Hohe Tauern unsern Gäste behutsam weiterzugeben, den Bergsport zu fördern und sicher die Berge zu besteigen.
        Die ständige persönliche Aus- und Weiterbildung der Mitglieder auf technischer und persönlicher Ebene bietet die größtmögliche Sicherheit für unsere Gäste.
        Der Hoangscht (miteinander reden) kommt auch nicht zu kurz, so wissen wir immer die aktuellen Verhältnisse am Berg.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" [src]="srcSliderImg3" height="800px" alt="Third slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Unser Angebot</h3>
      <p style="font-style: ">GROSSVENEDIGER,
        KLETTERN AM FALKENSTEIN - DOLOMITEN,
        GROSSGLOCKNER,
        WANDERUNGEN IN NATIONALPARK HOHE TAUERN,
        SKITOUREN,
        EISKLETTERN</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
