<div class="container tariffs-container">
  <h2 class="tariffs-title"><i class="fas fa-info-circle"></i> Tarife</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" [src]="imgSrcSummer"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Tarife für den Sommer</h4>
          <!-- Text -->
          <p class="card-text">Holen Sie sich jetzt alle Informationen für unsere Sommer Touren</p>
          <!-- Button -->
          <button type="button" class="btn btn btn-warning btn-rounded">{{buttonTextSummer}}<i class="fas fa-sun pl-1"></i></button>
        </div>

      </div>
      <!-- Card -->

    </div>
    <div class="col-md-6">
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" [src]="imgSrcWinter"
               alt="Winter IMG">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Tarife für den Winter</h4>
          <!-- Text -->
          <p class="card-text">Holen Sie sich jetzt alle Informationen für unsere Sommer Touren</p>
          <!-- Button -->
          <button type="button" class="btn btn-info btn-rounded">{{buttonTextWinter}}<i class="fas fa-snowboarding pl-1"></i></button>

        </div>

      </div>
      <!-- Card -->

    </div>
  </div>
</div>
<div class="decorator"></div>
